body
{
	font-family:verdana, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

#banner
{
	background:#3D434E;
	height:70px;
	border-top:#3C94F5 4px solid;
}

#content
{
	background:#F3F1E9;
	height:800px;
}

#side
{
	width:750px;
	margin:0 auto;
}

#menu
{
	height:30px;
	background:#3D434E url(images/button.gif) top;
}