body
{
	background:#FFF;
	font-family:verdana, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

#logo
{
	height:26px;
	width:26px;
	background:url(images/magike.gif) center no-repeat;
	float:left;
}

#top
{
	height:70px;
	background:#3D434E url(images/powered.gif) center top no-repeat;
}

#title
{
	width:760px;
	margin:0 auto;
	height:70px;
	line-height:70px;
	font-family:Georgia, Helvetica, sans-serif;
	font-size:22pt;
	color:#FFFFEE;
	text-align:center;
}

#title img
{
	margin-bottom:-5px;
	margin-top:25px;
}

#top_menu
{
	height:37px;
	background:#3D434E url(images/separator.gif) bottom repeat-x;
	border-bottom:1px solid #666;
}

#top_menu ul
{
	width:760px;
	margin:0 auto;
	padding:0;
	margin-bottom:6px;
	background:#383D44;
	border-top:1px solid #464A52;
}

#top_menu ul li
{
	float:left;
	margin:0 1px 0 0;
	height:30px;
	line-height:30px;
	list-style:none;
	font-size:10pt;
	width:90px;
}

#top_menu ul li a
{
	height:30px;
	color:#FFFFEE;
	text-decoration: none;
	line-height:30px;
	display:block;
	text-align:center;
}

#top_menu ul li a:hover,#top_menu ul li a.focus
{
	background:#464A52;
	color:#FFF;
	border-bottom:none;
	padding:0;
}

#top_menu ul li a.focus
{
	font-weight:bold;
	padding:0;
	background:#292D34;
}

#menu_content
{
	height:28px;
	line-height:28px;
	font-size:10pt;
	background:#AAA;
}

#content
{
	margin:0;
	padding:10px;
	background:#FFF url(images/top.gif) top repeat-x;
	overflow: hidden;
}

#element
{
	width:760px;
	margin:0 auto;
}

#element table tr td
{
	background:#F1F1F1;
	font-size:10pt;
	padding:5px 20px;
}

#element h2
{
	margin:0;
	padding:0 5px;
	height:22px;
	line-height:22px;
	font-size:10pt;
	border-bottom:1px solid #CCC;
	color:#5B686F;
}

#element input
{
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:4px;
	height:18px;
	font-family:verdana, Helvetica, sans-serif;
	font-size:10pt;
	width:450px;
	background:url(images/input_bg.gif) top repeat-x;
}

#magike_editor
{
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	width:500px;
	background:url(images/input_bg.gif) top repeat-x;
}

#footer
{
	height:70px;
	text-align:center;
	color:#FFF;
	font-size:9pt;
	margin:0 auto;
	width:760px;
	border-top:1px solid #CCC;
}

#footer img
{
	margin-bottom:-20px;
	padding-right:5px;
}
