body
{
	background:#FFF;
	font-family:verdana, Helvetica, sans-serif;
	padding:0;
	margin:0;
	border:0;
}

#logo
{
	height:26px;
	width:26px;
	background:url(images/magike.gif) center no-repeat;
	float:left;
}

#top
{
	height:30px;
	background:#292D34;
}

#title
{
	margin:0 10px;
	height:30px;
	line-height:30px;
	font-size:9pt;
	color:#AAA;
}

#title img
{
	margin-bottom:-2px;
	margin-top:8px;
	margin-right:7px;
}

#top_menu
{
	height:33px;
	background:#3D434E;
	border-bottom:4px solid #ADFE27;
}

#top_menu ul
{
	margin:0;
	padding:0 5px;
	background:#383D44;
	height:30px;
	border-top:1px solid #464A52;
	border-bottom:2px solid #72B601;
}

#top_menu ul li
{
	float:left;
	margin:0;
	padding-right:2px;
	height:30px;
	line-height:30px;
	list-style:none;
	font-size:10pt;
	background:url(images/btn_nav.gif) right bottom no-repeat;
}

#top_menu ul li a
{
	height:30px;
	color:#EEEEFF;
	padding:0 20px;
	text-decoration: underline;
	line-height:30px;
	display:block;
	float:left;
	text-align:center;
}

#top_menu ul li a:hover,#top_menu ul li a.focus
{
	background:#292D34;
	text-decoration: none;
	color:#FFF;
}

#top_menu ul li a.focus,#top_menu ul li a.focus:hover
{
	font-weight:bold;
	text-decoration: none;
	background:#292D34;
}

#menu_content
{
	height:22px;
	line-height:22px;
	background:url(images/top.gif) top repeat-x;
	border-top:4px solid #292D34;
}

#menu_content ul
{
	margin:0 5px;
	padding:0;
}

#menu_content ul li
{
	float:left;
	margin:0 1px 0 0;
	height:22px;
	line-height:22px;
	list-style:none;
	font-size:9pt;
	background:#EEE;
}

#menu_content ul li a
{
	height:21px;
	line-height:21px;
	color:#333;
	text-decoration: underline;
	display:block;
	text-align:center;
	float:left;
	padding:0 15px;
	border:1px solid #CCC;
	border-top:none;
}

#menu_content ul li a:hover,#menu_content ul li a.focus
{
	color:#FFF;
	text-decoration: none;
	background:#292D34;
	border:1px solid #111;
	border-top:none;
}

#menu_content ul li a.focus
{
	font-weight:bold;
}

#content
{
	margin:0;
	padding:10px;
	background:#FFF;
}

#element
{
	margin:0 15px;
}

#element .option
{
	border:1px solid #999;
	background:#F3F1E9;
	font-size:10pt;
	padding:10px;
	margin-top:10px;
	display:none;
}

#element .border
{
	border:1px solid #999;
	background:#F3F1E9;
	padding:10px;
}

#element .option p
{
	line-height:20px;
	border-bottom:1px solid #CCC;
	padding:5px;
}

#element .discribe
{
	color:#999;
	font-size:9pt;
	line-height:20px;
	font-weight:normal;
}

#element table.classic_table tr td
{
	background:#F1F1F1;
	font-size:10pt;
	padding:5px 20px;
}

#element h2
{
	margin:15px 0 0 0;
	padding:0 5px;
	height:22px;
	line-height:22px;
	font-size:10pt;
	color:#5B686F;
	border-bottom:1px solid #CCC;
}

#element p
{
	margin:0;
	padding:0;
}

#element .input  h2
{
	margin:0;
	padding:10px;
	height:22px;
	line-height:22px;
	font-size:11pt;
	color:#5B686F;
	border:none;
	width:70px;
	float:left;
}

#element .input p
{
	margin:0;
	padding:10px;
	font-size:9pt;
	float:left;
	color:#464A52;
}

#element .input
{
	border-bottom:1px solid #CCC;
	float:left;
	width:100%;
	height:auto;
}

#element form
{
	margin:0;
	padding:0;
}

#element #post_content
{
	padding:10px;
	font-size:10pt;
}

#ajax_loading
{
	border:1px solid #444;
	background:#FFF;
	width:100px;
	height:30px;
	padding:10px;
	font-size:9pt;
	color:#AAA;
	font-weight:bold;
	text-align:center;
	position: fixed;
}

#ajax_loading img
{
	margin-top:5px;
}

#element table
{
	font-size:9pt;
}

#element table tr td
{
	color:#292D34;
	height:24px;
	line-height:24px;
	border-bottom:1px solid #CCC;
}

#element table tr td a
{
	text-decoration: underline;
	color:#464A52;
}

#element table tr td a:hover
{
	text-decoration: none;
}

#element table tr.heading
{
	background:#DDD url(images/button.gif) top;
}

#element table tr.heading td
{
	color:#464A52;
	font-weight:bold;
	font-size:10pt;
}

#element  table tr.select td
{
	background:#FFFFCC;
}

#element  table tr.hover td
{
	background:#F7F8F9;
}

#element .table_nav
{
	line-height:24px;
	padding:4px 0;
	font-size:9pt;
	color:#292D34;
}

#element input,#element textarea
{
	font-family:verdana, Helvetica, sans-serif;
}

#element input.button
{
	background:#FFF;
	border:1px solid #DDD;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	line-height:28px;
	height:28px;
	cursor:pointer;
	font-size:9pt;
}

#element input.text
{
	background:#FFF;
	border:1px solid #DDD;
	border-left:1px solid #777;
	border-top:1px solid #777;
	line-height:20px;
	height:20px;
	font-size:10pt;
	padding:2px;
}

#element textarea.text
{
	background:#FFF;
	border:1px solid #DDD;
	border-left:1px solid #777;
	border-top:1px solid #777;
	font-size:10pt;
	padding:2px;
}

#element .tab_nav
{
	border-bottom:2px solid #9DA5AC;
	height:24px;
	background:#F2F3F4;
	padding-top:15px;
}

#element .tab
{
	display:none;
}

.tab_nav ul
{
	margin:0 10px;
	padding:0;
	height:24px;
}

.tab_nav ul li
{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	font-size:10pt;
	height:24px;
	line-height:24px;
}

.tab_nav ul li span
{
	display:block;
	text-align:center;
	color:#464A52;
	text-decoration: none;
	border-right:1px solid #F2F3F4;
	cursor:pointer;
	float:left;
	padding:0 10px;
}

.tab_nav ul li span.focus
{
	background:#9DA5AC;
	border-right:1px solid #576168;
	font-weight:bold;
	color:#FFF;
}
